<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.ui.views">
        <category name="LogStream" id="hu.zsdoma.e4.logstream.ui"/>
        <view
            id="hu.zsdoma.e4.logstream.ui.view.LogStreamView"
            category="hu.zsdoma.e4.logstream.ui"
            icon="icons/sample.gif"
            class="hu.zsdoma.e4.logstream.ui.view.LogStreamView"
            allowMultiple="true"
            name="LogStreamView">
     </view>
    </extension>
    
    <!-- preferences staffs -->
    <!--<extension
      point = "org.eclipse.ui.preferencePages">
       <page id="hu.zsdoma.e4.logstream.preferences.page1"
      class="u.zsdoma.e4.logstream.preferences.LogStreamPreferencesPage"
            name="%PreferencePage.name">
       </page>
   </extension>-->
</plugin>
